{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>PharmAssist</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %}">

</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo 
                    <a class="nav-brand" href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="current-item"><a href="/">Home</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="/all-refills">My Homepage</a></li>
                                    <li><a href="/new-med">Add a Med</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                {% endif %}
                            </ul>

                            <!-- Login / Register -->
                            <div class="login-register-btn mx-3">
                                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</span></a>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div>
    {% if user.is_authenticated %}
                        <li class="nav-item" style="padding-left: 50px">
                            <a class="btn btn-primary btn-lg" href="/all-refills">{{ user }} (you)</a>
                            <!-- this button currently isn't working -->
                        </li>
                    {% endif %}
        <div>
        {% block index %}
            {% if user.is_authenticated %}
                  {% block content %}
                  {% endblock content %}
            {% else %}
                <h1>You Must Be Logged In To View the Contents of This Page.Click the link below to return to the Home screen.</h1>
                <div class="row">
                        <div class="col-12 text-center mt-30">
                            <a href='/' class="btn uza-btn btn-3">Click here to return to Home Screen</a>
                        </div>
                </div>
            {% endif %}
        {% endblock index %}
        </div>
    </div>


 <div class="row" style="margin-bottom: 30px;">
                
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js -->
    <script src="{% static 'js/uza.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body>

</html>
