{% extends "../base.html" %}
{% load static i18n %}
{% block nav_item_about %}active{% endblock nav_item_about %} 



{% block content %}
        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
<div>

</div>
<iframe src="https://calendar.google.com/calendar/embed?src={{ username }}%40gmail.com" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<div class="container">
    {% include "snippets/refills.html" %}
</div>

{% endblock content %}

