{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="row">
    <div class="col" id="hero">
        <h1>Yell about your interests.</h1>
        <h1>Ignore what people are talking about.</h1>
        <h1>Join the intellectual discussions.</h1>
    </div>
    <div class="col">
        
	        {% if user.is_authenticated %}
                     <p class="display-4">Hello, {{ user.username }}</p>
	        {% else %}
                     <a class="lead" href="{% url 'login' %}">Log in</a>
	        {% endif %}
        
    </div>
</div>


{% endblock content %}

