{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
<div class="container">
    <h3>Enter Medicine Info</h3>
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-info">Save</button>
        <a class="btn btn-lg btn-warning" href="/users/{{ user.username }}/">Cancel</a>
    </form>
</div>
{% endblock content %}
