
{% for refill in refills %}
<div class="refill card">
    <div class="row">
        <p class="card-title">
        </p>
               <p>{{ refill.prescription }}</p>
               <p><br>{{ refill.nickname }}</p>
               <p><br>{{ refill.location }}</p>
        <div class="links">
        <a href="/delete-refill/{{ refill.id }}/" class="btn btn-link">
                        <i class="octicon octicon-trashcan"></i>
                    </a>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ refill.id }}">
                        <i class="octicon octicon-pencil"></i>
                    </button>
                    {% include "snippets/edit_refill_modal.html" %}
                </div>
    </div>
</div>
{% endfor %}

