
{% for refill in refills %}
<div class="refill card">
    <div class="text">
        <p>    Rx: {{ refill.prescription }}
        <br>    Rx Nickname: {{ refill.nickname }}
        <br>    Pharmacy: {{ refill.pharmacy }}
        </p>
    </div>    
    <div class = "text">
    {% if user.is_authenticated %}
        {% if user_id == refill.user.id %}
            <div class="links">
                <a href="/delete-refill/{{ refill.id }}/" class="btn btn-link">
                    <i class="octicon octicon-trashcan"></i>
                </a>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ refill.id }}">
                    <i class="octicon octicon-pencil"></i>
                </button>
                {% include "snippets/edit_refill_modal.html" %}
            </div>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endfor %}

